// colors
$accentColor = #8FBCBB
$textColor = #ECEFF4
$borderColor = #4C566A
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #A3BE8C
$badgeWarningColor = darken(#BF616A, 25%)
$badgeErrorColor = #BF616A

$bgColor = #3B4252;
$darkBgColor = #2E3440;
$tipColor = #A3BE8C;
$warningColor = #EBCB8B;
$dangerColor = #BF616A;